{% extends 'temp/main_admin.html' %}
{% block base %}
<html>
    <head>
        <body>
            <center>
                <h2>VIEW COMPLAINTS</h2>
                <table border="1">
                    <tr>
                        <th>customer name</th>
                        <th>complaint</th>
                        <th>replay</th>
                        
                    </tr>
                    {% for i in x %}
                    <tr>
                    <td>{{ i.customer.customer_name }}</td>
                        <td>{{ i.complaint }}</td>
                        <td>{{ i.replay }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </center>
        </body>
    </head>
</html>
{%  endblock %}